{% extends "base.html" %}

{% block app_content %}
<div class="row justify-content-around">
    <div class="col-sm-6 bg-light shadow p-3 my-4">
        <p class="blockquote text-center mb-3 font-weight-bold">Are you sure you want to delete {{ form.hidden.data }}?
        </p>
        <p class="blockquote text-center">
            This is a permanent change. Every sale in history for {{ form.hidden.data }} will be removed as well.
            All profit calculations will be adjusted accordingly.</p>

        <form action="/items/deleteItem" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="text-right mt-sm-4">
                <a class="mr-3 text-secondary" href="{{ url_for('items.items') }}">Cancel</a>
                {{ form.confirm(class_="btn btn-danger") }}
            </div>

        </form>
    </div>
</div>
{% endblock %}