{% extends "base.html" %}

{% block app_content %}


{% if items %}
<div class="row justify-content-around">
    <div class="col-auto">

        <p class="my-4 text-center h4">{{ current_user.username }}'s items for sale:</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity Remaining</th>
                    <th scope="col">Original Quantity</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}

                    {% if item.quantityRemaining <= 5 and item.quantityRemaining > 0 %}
                        <tr class="alert-warning">
                    {% elif item.quantityRemaining == 0 %}
                        <tr class="alert-danger">
                    {% else %}
                        <tr>
                    {% endif %}        
                        <th scope="row">{{ item.itemName }}</th>
                        <td>{{ item.quantityRemaining }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <!-- <ul class="list-group list-group-flush bg-light shadow p-2">
            
        </ul> -->
    </div>
</div>
{% endif %}

<!-- "{item.itemName} cost {usd(item.price)} for quantity of {item.quantity} and added on {item.date.strftime('%m/%d/%Y')}." for item in items] -->

{% endblock %}