{% extends "sales/sales.html" %}

{% block history %}

{% if history %}
<div class="row justify-content-around">
    <div class="col-auto bg-light shadow p-3">
        <div class="table-responsive-sm">
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Item</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Price w/ Tax</th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Shipping</th>
                        <th scope="col" class="text-center">Packaging</th>
                        <th scope="col" class="text-center">Date</th>
                        <th scope="col" class="text-center">Profit</th>
                        <th scope="col" class="text-center">Refund</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in history %}
                    <tr>
                        <th scope="row" class="text-center">{{sale["itemName"]}}</th>
                        <td class="text-center">{{sale["quantity"]}}</td>
                        <td class="text-center">{{sale["priceWithTax"]}}</td>
                        <td class="text-center">{{sale["price"]}}</td>
                        <td class="text-center">{{sale["shipping"]}}</td>
                        <td class="text-center">{{sale["packaging"]}}</td>
                        <td class="text-center">{{sale["date"]}}</td>
                        <td class="text-center">{{sale["profit"]}}</td>
                        <td class="text-center">{{'X' if sale["refund"] else ""}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if next_url %}
            <a class="mr-3" href="{{ next_url }}">Older Sales</a>
            {% endif %}
            {% if prev_url %}
            <a href="{{ prev_url }}">Newer Sales</a>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-around">
    <div class="col-auto">
        <p class="alert alert-danger" role="alert">No sales have been made yet for the selected items.</p>
    </div>
</div>
{% endif %}

{% endblock %}