{% extends "sales/sales.html" %}

{% block history %}

{% if adjustForm %}
<div class="row justify-content-around">
    <div class="col-auto">
        
        <form action="/sales/adjustSaleHistory" method="post" class="bg-light shadow p-3" novalidate>
            {{ adjustForm.hidden_tag() }}
            <div class="d-flex justify-content-between">
                <span>{{ adjustForm.sale.label}} to {{ userAction.capitalize() }} </span>
                <span>{{ adjustForm.submit(class_="btn btn-outline-danger btn-sm") }}</span>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-borderless table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price w/ Tax</th>
                            <th scope="col">Price</th>
                            <th scope="col">Shipping</th>
                            <th scope="col">Packaging</th>
                            <th scope="col">Date</th>
                            <th scope="col">Profit</th>
                            {% if userAction not in ['edit', 'refund'] %}
                            <th scope="col">Refund</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for subfield in adjustForm.sale %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{subfield.label.text["itemName"]}}</td>
                            <td>{{subfield.label.text["quantity"]}}</td>
                            <td>{{subfield.label.text["priceWithTax"]}}</td>
                            <td>{{subfield.label.text["price"]}}</td>
                            <td>{{subfield.label.text["shipping"]}}</td>
                            <td>{{subfield.label.text["packaging"]}}</td>
                            <td>{{subfield.label.text["date"]}}</td>
                            <td>{{subfield.label.text["profit"]}}</td>
                            {% if userAction not in ['edit', 'refund'] %}
                            <td>{{'X' if subfield.label.text["refund"] else ""}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <span>
                    {% if next_url %}
                    <a class="mr-3" href="{{ next_url }}">Older Sales</a>
                    {% endif %}
                    {% if prev_url %}
                    <a href="{{ prev_url }}">Newer Sales</a>
                    {% endif %}
                </span>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}