{% extends "base.html" %}

{% block app_content %}
<div class="row justify-content-around">
    <div class="col-auto my-3">

        {% if action == "edit" %}
        <p class="text-center h4">Editing Sale For {{ form.items.data }}</p>
        {% elif action == "add" %}
        <p class="text-center h4">Add a New Sale</p>
        {% endif %}

        <form action="/sales/newSale" method="post" class="d-flex bg-light shadow p-3 my-4" novalidate>
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-sm d-flex flex-column justify-content-between">
                    <div class="form-group">
                        {{ form.items.label }}
                        {{ form.items(class_="form-control") }}
                        {% for error in form.items.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.date.label }}
                        {{ form.date(class_="form-control") }}
                        {% for error in form.date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.price.label }}
                        {{ form.price(class_="form-control") }}
                        {% for error in form.price.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.priceWithTax.label }}
                        {{ form.priceWithTax(class_="form-control") }}
                        {% for error in form.priceWithTax.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.quantity.label }}
                        {{ form.quantity(class_="form-control") }}
                        {% for error in form.quantity.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>                    
                </div>
                <div class="col-sm d-flex flex-column justify-content-between">
                    <div class="form-group">
                        {{ form.shipping.label }}
                        {{ form.shipping(class_="form-control") }}
                        {% for error in form.shipping.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.packaging.label }}
                        {{ form.packaging(class_="form-control") }}
                        {% for error in form.packaging.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.eBayPercent.label }}
                        {{ form.eBayPercent(class_="form-control") }}
                        {% for error in form.eBayPercent.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.payPalFixed.label }}
                        {{ form.payPalFixed(class_="form-control") }}
                        {% for error in form.payPalFixed.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.payPalPercent.label }}
                        {{ form.payPalPercent(class_="form-control") }}
                        {% for error in form.payPalPercent.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="text-right">
                        <a class="mr-3 text-secondary" href="{{ url_for('sales.sales') }}">Cancel</a>
                        {{ form.submit(class_="btn btn-outline-primary btn-sm") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}