{% extends "items.html" %}

{% block edit %}

<h6>Edit Item</h6>
<form action="/editItemDetails" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.item.label }}<br>
        {{ form.item() }}
        {% for error in form.item.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.pricePaid.label }}<br>
        {{ form.pricePaid() }}
        {% for error in form.pricePaid.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.totalQuantity.label }}<br>
        {{ form.totalQuantity() }}
        {% for error in form.totalQuantity.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>



{% endblock %}


