{% extends "sales.html" %}

{% block history %}

    <form action="/{{ userAction }}SaleHistory" method="post" novalidate>
        {{ adjustForm.hidden_tag() }}
        <p>{{ adjustForm.hidden.data }}</p>
        <table>
            {% for subfield in adjustForm.sale %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>{{ adjustForm.submit() }}</p>
    </form>


{% endblock %}