{% extends "sales.html" %}

{% block history %}

{% if history %}

    <div class="row justify-content-around">
        <div class="col-auto">

            <ul>
                {% for sale in history %}
                <p>{{ sale }}</p>
                {% endfor %}
            </ul>

            {% if next_url %}
            <a href="{{ next_url }}">Older Sales</a>
            {% endif %}
            {% if prev_url %}
            <a href="{{ prev_url }}">Newer Sales</a>
            {% endif %}

        </div>
    </div>

{% elif adjustForm %}
    <div class="row justify-content-around">
        <div class="col-auto">
            {% if adjustForm.sale.choices %}
                <form action="/adjustSaleHistory" method="post" novalidate>
                    {{ adjustForm.hidden_tag() }}
                    <div class="form-group">
                        <table class="table table-hover">
                            {% for subfield in adjustForm.sale %}
                            <tr>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% if next_url %}
                    <a href="{{ next_url }}">Older Sales</a>
                    {% endif %}
                    {% if prev_url %}
                    <a href="{{ prev_url }}">Newer Sales</a>
                    {% endif %}

                    <p>{{ adjustForm.submit(class_="btn btn-primary") }}</p>
                </form>
    {% else %}
        <p>No sales for the selected items are able to be {{userAction}}ed yet.</p>
    {% endif %}
{% else %}
        <p>NO ITEMS ERROR EDIT THIS!!!</p>
{% endif %}

{% endblock %}