{% extends "sales.html" %}

{% block history %}

    <form action="/adjustSaleHistory" method="post" novalidate>
        {{ adjustForm.hidden_tag() }}

        {% if adjustForm.sale.choices %}
            <table>
                {% for subfield in adjustForm.sale %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
            </table>
            <p>{{ adjustForm.submit() }}</p>
        {% else %}
            <p>No sales for the selected items are able to be {{userAction}}ed yet.</p>
        {% endif %}

    </form>


{% endblock %}