{% extends 'bootstrap/base.html' %}

{% block navbar %}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">eBaySalt</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#eBaySaltNav" aria-controls="eBaySaltNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="eBaySaltNav">
        <ul class="navbar-nav mr-auto">

            {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ url_for('auth.login') }}">Login<span
                        class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ url_for('items.items') }}">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ url_for('sales.sales') }}">Sales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-around mt-3">
        <div class="col-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="list-unstyled">
                        {% for category, message in messages %}
                            {% if category == "error" %}
                                <li class="alert alert-danger" role="alert">{{ message }}</li>
                            {% elif category == "success" %}
                                <li class="alert alert-success" role="alert">{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    {% block app_content %}{% endblock %}
</div>
{% endblock %}