{% extends "base.html" %}

{% block content %}

    <p>{{totalSalesMessage}}</p>
    
    {% for item in itemQuantityRemaining %}
      <p>{{item[1]}} units remaning for {{item[0]}}.</p>
    {% endfor %}

    <ul>
        <li><a href="{{ url_for('newSale') }}">Add a new sale.</a></li>
        <li><a href="{{ url_for('sales') }}">Edit or view a history of sales.</a></li>
        <li><a href="{{ url_for('addItem') }}">Add a new item for sale.</a></li>
        <li><a href="{{ url_for('fees') }}">Adjust selling fees.</a></li>
    </ul>

{% endblock %}