{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('addItem') }}">Add New Item</a>

<p>{{ current_user.username }}'s Items for Sale</p>

{% block edit %}{% endblock %}
    
<form action="/adjustItem" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.items.label }}<br>
        {{ form.items() }}
        {% for error in form.items.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.action.label }}<br>
        {{ form.action() }}
        {% for error in form.action.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>

{% block itemsList %}
    {% for item in items %}
        <div>{{ item.itemName }} cost ${{item.price}} for {{item.quantity}} added on {{item.date}}</div>
    {% endfor %}
{% endblock %}


{% endblock %}