{% extends "base.html" %}

{% block content %}

<p>items.</p>

<a href="{{ url_for('addItem') }}">Add New Item</a>
<!-- <a href="{{ url_for('selectItem', destination='editItem') }}">Edit Item</a>
<a href="{{ url_for('selectItem', destination='deleteItem') }}">Delete Item</a> -->


{% block edit %}{% endblock %}
    
{% block itemsList %}
<p>List of items on items.html</p>    
    {% for item in items %}
        <div>{{ item.itemName }} cost {{item.price}} for {{item.quantity}} added on {{item.date}} </div>
    {% endfor %}
{% endblock %}

<form action="/adjustItem" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.items.label }}<br>
        {{ form.items() }}
        {% for error in form.items.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.action.label }}<br>
        {{ form.action() }}
        {% for error in form.action.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>

{% endblock %}