{% extends "base.html" %}

{% block content %}

<h6>Sale Select</h6>
<form action="/saleHistory" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.items.label }}<br>
        {{ form.items() }}
        {% for error in form.items.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.action.label }}<br>
        {{ form.action() }}
        {% for error in form.action.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>

</form>


{% if history %}
    <ul>
        {% for sale in history %}
        <p>{{ sale }}</p>
        {% endfor %}
    </ul>
{% elif adjustForm %}
    <form action="/{{ userAction }}SaleHistory" method="post" novalidate>
        {{ adjustForm.hidden_tag() }}
        <p>{{ adjustForm.hidden.data }}</p>
        <table>
            {% for subfield in adjustForm.sale %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>{{ adjustForm.submit() }}</p>
    </form>
{% endif %}





{% endblock %}