{% extends "base.html" %}

{% block content %}

{% if action == "edit" %}
    <p>Editing sale for {{ form.items.data }}</p>
{% elif action == "add" %}
    <p>Add a New Sale</p>
{% endif %}

<form action="/newSale" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.items.label }}<br>
        {{ form.items() }}
        {% for error in form.items.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date() }}
        {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price() }}
        {% for error in form.price.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.quantity.label }}<br>
        {{ form.quantity() }}
        {% for error in form.quantity.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.shipping.label }}<br>
        {{ form.shipping() }}
        {% for error in form.shipping.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.packaging.label }}<br>
        {{ form.packaging() }}
        {% for error in form.packaging.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.eBayPercent.label }}<br>
        {{ form.eBayPercent() }}
        {% for error in form.eBayPercent.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.payPalFixed.label }}<br>
        {{ form.payPalFixed() }}
        {% for error in form.payPalFixed.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.payPalPercent.label }}<br>
        {{ form.payPalPercent() }}
        {% for error in form.payPalPercent.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>

</form>

{% endblock %}