{% extends "base.html" %}

{% block content %}

    {% if zeroItems %}
        <a href="{{ url_for('items') }}">Add an item first to get started adding sales.</a>

    {% else %}
        <a href="{{ url_for('newSale') }}">Add a new sale.</a>

        {% if not zeroSales %}

            <h6>Sale Select</h6>
            <form action="/sales" method="post" novalidate>
                {{ form.hidden_tag() }}

                <p>
                    {{ form.items.label }}<br>
                    {{ form.items() }}
                    {% for error in form.items.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.action.label }}<br>
                    {{ form.action() }}
                    {% for error in form.action.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>

            </form>

            {% block history %}{% endblock %}
            
        {% endif %}
    {% endif %}
{% endblock %}